{% extends 'registration/base.html' %}
{% load static %}

{% block title %}User Profile - GearUp{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">My Profile</h2>

  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item">Basic Info</li>
        <li class="list-group-item"><a href="{% url 'view_address' %}" class="btn btn-dark">Addresses</a></li>
        <li class="list-group-item"><a href="{% url 'view_orders' %}" class="btn btn-dark">Order History</a></li>
        <li class="list-group-item"><a href="{% url 'track_orders' %}" class="btn btn-dark">Track Orders</a></li>
      </ul>
    </div>

    <!-- Content -->
    <div class="col-md-9">
      <!-- Basic Info -->
      <section id="basic-info" class="mb-5">
        <div class="card p-3">
          <img src="{{ user.profile.image.url }}" class="rounded" height="80" alt="Profile Image">
          <p><strong>Name:</strong> {{ user.first_name }} </p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <a href="" class="btn btn-secondary btn-sm mt-2">Edit Info</a>
        </div>
      </section>

      {% block account_content %}
          
      {% endblock account_content %}

    </div>
  </div>
</div>
{% endblock %}
