{% extends 'registration/base.html' %}
{% load static %}

{% block title %}Your Cart - GearUp{% endblock %}

{% block content %}
<style>
  .cart-product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
</style>

<div class="container mt-5">
  <h2 class="mb-4">🛒 Your Cart</h2>

  {% if cart.items.all %}
    <div class="row">
      {% for item in cart.items.all %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card shadow-sm h-100">
            <div class="card-body d-flex flex-column">
              <img src="{{item.product.image.url}}" alt="Image" class="cart-product-img">
              <h5 class="card-title">{{ item.product.name }}</h5>
              <p class="card-text">Price: ₹{{ item.product.price }}</p>
              <div class="d-flex">
                <form method="post" action="{% url 'decrement_quantity' item.id %}" class="me-2">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-secondary btn-sm">-</button>
                </form>

                <p class="pe-2"> {{ item.quantity }}</p>

                <form method="post" action="{% url 'increment_quantity' item.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-success">+</button>
                </form>
              </div>

              {% for item in cart.items.all %}
                <div>

                  {% if item.quantity >= item.product.stock %}
                    <p class="text-danger">Max stock reached</p>
                  {% endif %}
                </div>
              {% endfor %}
              <p class="card-text text-success">Total: ₹{{ item.total_price }}</p>
              <form method="post" action="{% url 'remove_from_cart' item.id %}">
                {% csrf_token %} 
                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
              </form>

            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Cart Summary -->
    <div class="card mt-5 shadow">
      <div class="card-body">
        <h4 class="card-title">🧾 Order Summary</h4>
        <p class="card-text"><strong>Total: ₹{{ cart.total_price }}</strong></p>
        <a href="" class="btn btn-success mt-3">Proceed to Checkout</a>
      </div>
    </div>
  {% else %}
    <div class="alert alert-info">
      Your cart is empty. <a href="{% url 'home' %}" class="alert-link">Continue shopping</a>.
    </div>
  {% endif %}
</div>
{% endblock %}
