{% extends 'registration/account.html' %}
{% block account_content %}
<div class="container mt-5">
  <h2>My Orders</h2>
  {% if orders %}
    <ul class="list-group">
      {% for order in orders %}
        <li class="list-group-item">
          <strong>Order ID:</strong> {{ order.order_id }}<br>
          <strong>Status:</strong> {{ order.get_status_display }}<br>
          <strong>Date:</strong> {{ order.created_at|date:"d F Y " }}<br>
          <strong>Total:</strong> ₹{{ order.total_price }}<br>
          <a href="{% url 'order_detail' order.order_id %}" class="btn btn-primary btn-sm mt-2">View Details</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven’t placed any orders yet.</p>
  {% endif %}
</div>
{% endblock %}
