{% extends 'custom_admin/base.html' %}

{% block content %}
<h2>📦 All Orders</h2>
<table class="table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>User</th>
      <th>Status</th>
      <th>Total</th>
      <th>Placed On</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>#{{ order.order_number }}</td>
      <td>{{ order.user.username }}</td>
      <td>
        {% if order.status == 'PENDING' %}
          <span class="badge bg-secondary">Pending</span>
        {% elif order.status == 'PLACED' %}
          <span class="badge bg-info ">Placed</span>
        {% elif order.status == 'SHIPPED' %}
          <span class="badge bg-warning ">Shipped</span>
        {% elif order.status == 'DELIVERED' %}
          <span class="badge bg-success">Delivered</span>
        {% elif order.status == 'CANCELLED' %}
          <span class="badge bg-danger">Cancelled</span>
         {% elif order.status == 'RETURNED' %}
          <span class="badge bg-warning">Retuned</span>
        {% endif %}
      </td>
      <td>₹{{ order.total_price }}</td>
      <td>{{ order.created_at|date:"d F Y" }}</td>
      <td>
        <a href="{% url 'admin_order_detail' order.order_id %}" class="btn btn-sm btn-primary">View</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
